<% include ../partials/header %>
<div class="container" style="margin: 5% auto;text-align:center">
    <h1 style="">Victim Records:</h1>
      <br>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 align-self-center">
     <form action="/victims/search" method="POST">
                <div class="input-group mb-1">
  <div type="submit" class="input-group-prepend">
    <button  class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <input type="text" class="form-control" placeholder="SEARCH" aria-label="Search" name="vic_id1" aria-describedby="basic-addon1">
</div>
                <button class="btn btn-lg btn-block btn-success" hidden>Submit</button>
        </form>
    </div>
        
    </div>
        <br>
    <table border="5"  style="text-align:center;margin: 0px auto">
    <thead>
        <tr>
            <th>Victims ID</th>
            <th>Victims Name</th>
            <th>Victims Address</th>
            <th>Victims Phone Number</th>
            <th>FIR ID</th>
            <th></th>
        
        </tr>
    </thead>
    <tbody>
        <%for(i=0; i<print.length; i++){ %>
          <tr>
            <td><a  href="/victims/edit/<%= print[i].vic_id%>" style=" text-decoration:none;"><%= print[i].vic_id%></a></td>
            <td><%= print[i].vic_name%></td>
            <td><%=print[i].vic_address%></td>
            <td><%=print[i].vic_mobile%></td>
            <td><%=print[i].fir_no%></td>
             <td><a class="btn btn-info btn-sm py-0 px-2.25" href="/victims/edit/<%= print[i].vic_id%>">edit</a>
             <a class="btn btn-danger btn-sm py-0 m-1 px-2" href="/victims/delete/<%= print[i].vic_id%>">delete</a></td>
        </tr>
         <% } %>
    </tbody>
</table>
<p style="padding-top: 2em"><button type="button" class="btn btn-success"><a style=" text-decoration:none; color:white" href="/victims/addnew">ADD NEW VICTIM</a></button>
<button type="button" class="btn btn-danger" style="margin-left:2em;"><a style=" color:white; text-decoration:none;" href="/victims/delete">DELETE VICTIM</a></button></p>
</div>
