<% include ../partials/header %>
<div class="container animated fadeInLeft delay-0.1s">
            <h1 style="text-align:center">Enter the details:</h1>
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/victims/edit/<%=print1[0].vic_id%>" method="POST">
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="vic_id" value="<%= print1[0].vic_id%>">   
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="vic_name" value="<%= print1[0].vic_name%>" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="vic_address"value="<%= print1[0].vic_address%>" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="vic_mobile" pattern="[0-9]{10}" value="<%= print1[0].vic_mobile%>" required>   
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" min="0" name="fir_no" value="<%= print1[0].fir_no%>" required>   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
                </div>
                
            </form>
            <a href="/victims"><button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
    </div>
</div>

</body>
