<% include ../partials/header %>
<div class="container animated fadeIn slow" style="margin: 5% auto;text-align:center">
    <h1 style="">Prisoner Records:</h1>
      <br>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 align-self-center">
     <form action="/prisoners/search" method="POST">
                <div class="input-group mb-1">
  <div type="submit" class="input-group-prepend">
    <button  class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <input type="text" class="form-control" placeholder="SEARCH" aria-label="Search" name="pri_id1" aria-describedby="basic-addon1">
</div>
                <button class="btn btn-lg btn-block btn-success" hidden>Submit</button>
        </form>
    </div>
        
    </div>
        <br>
    <table border="5"  style="text-align:center;margin: 0px auto">
    <thead>
        <tr>
            <th>Prisoner ID</th>
            <th>Prisoner Name</th>
            <th>Prisoner Address</th>
            <th>Cell Number</th>
            <th>Police ID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% var i; %>
        <%for(i=0; i<print.length; i++){ %>
          <tr>
            <td><a  href="/prisoners/edit/<%= print[i].pri_id%>" style=" text-decoration:none;"><%= print[i].pri_id %></a></td>
            <td><%= print[i].pri_name %></td>
            <td><%= print[i].pri_address %></td>
            <td><%= print[i].pri_cellno %></td>
            <td><%= print[i].p_id %></td>
            <td><a class="btn btn-info btn-sm py-0 px-2.25" href="/prisoners/edit/<%= print[i].pri_id%>">edit</a>
             <td><a class="btn btn-danger btn-sm py-0 px-2" href="/prisoners/delete/<%= print[i].pri_id%>">delete</a></td>
        </tr>
         <% } %>
    </tbody>
</table>
<p style="padding-top: 2em"><button type="button" class="btn btn-success"><a style=" text-decoration:none; color:white" href="/prisoners/addnew">ADD NEW PRISONER</a></button>
<button type="button" class="btn btn-danger" style="margin-left:2em;"><a style=" color:white; text-decoration:none;" href="/prisoners/delete">DELETE PRISONER</a></button></p>
</div>
