<% include ../partials/header %>

<div class="container" style="margin: 5% auto;text-align:center">
<h1 style="">Police Records:</h1>
  <br>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 align-self-center">
     <form action="/police/search" method="POST">
                <div class="input-group mb-1">
  <div type="submit" class="input-group-prepend">
    <button  class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <input type="text" class="form-control" placeholder="SEARCH" aria-label="Search" name="p_id1" aria-describedby="basic-addon1">
</div>
                <button class="btn btn-lg btn-block btn-success" hidden>Submit</button>
        </form>
    </div>
        
    </div>
        <br>
    <table border="5"  style="text-align:center;margin: 0px auto">
    <thead>
        <tr>
            <th>Police ID</th>
            <th>Police Name</th>
            <th>Police Mobile</th>
            <th>Police Email</th>
            <th>Police Address</th>
            <th>Police Salary</th>
            <th>Police designatoin</th>
            <th></th>
         
        </tr>
    </thead>
    <tbody>
        <%for(i=0; i<print.length; i++){ %>
          <tr>
            <td><a  href="/police/edit/<%= print[i].p_id%>" style=" text-decoration:none;"><%= print[i].p_id %></a></td>
            <td><%=print[i].p_name %></td>
            <td><%=print[i].p_mobile %></td>
            <td><%=print[i].p_email %></td>
            <td><%=print[i].p_address %></td>
            <td><%=print[i].p_sal %></td>
            <td><%=print[i].p_design %></td>
             <td><a class="btn btn-info btn-sm py-0 px-2.25" href="/police/edit/<%= print[i].p_id%>">edit</a>
            <a class="btn btn-danger btn-sm m-1 py-0 px-2" href="/police/admin/delete/<%= print[i].p_id%>">delete</a></td>
        </tr>
         <% } %>
    </tbody>
</table>
<p style="padding-top: 2em"><button type="button" class="btn btn-success"><a style=" text-decoration:none; color:white" href="/police/admin">ADD NEW POLICE</a></button>
<button type="button" class="btn btn-danger" style="margin-left:2em;"><a style=" color:white; text-decoration:none;" href="/police/admin/delete">DELETE POLICE</a></button></p>
</div>




 