<% include ../partials/header %>
<div class="container  animated fadeInLeft delay-0.1s">
            <h1 style="text-align:center">Courts</h1>
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/courts/edit/<%=print1[0].crt_id%>" method="POST">
                <div class="form-group">
                    <label for="crt_id"><strong>Court Id:</strong></label>
                    <input class="form-control" id="crt_id" type="number" min="0" name="crt_id" value="<%= print1[0].crt_id%>">   
                </div>
                 <div class="form-group">
                    <label for="crt_name"><strong>Court Name:</strong></label>
                    <input class="form-control"id="crt_name" type="text" name="crt_name" value="<%= print1[0].crt_name%>" required>   
                </div>
                <div class="form-group">
                 <label for="crt_place"><strong>Court Place:</strong></label>
                    <input class="form-control"id="crt_place" type="text" name="crt_place" value="<%= print1[0].crt_place%>" required>   
                </div>
                <div class="form-group">
                 <label for="crt_type"><strong>Court Type:</strong></label>
                    <input class="form-control"id="crt_type" type="text" name="crt_type" value="<%= print1[0].crt_type%>" required>   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">Update</button>
                </div>
                
            </form>
            <a href="/courts"><button class="btn btn-sm btn-outline-dark"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
    </div>
</div>

</body>
