<% include ../partials/header %>
<div class="container">
    <a href="/fir"><button class="btn btn-sm btn-outline-dark" style="margin:20px"><i class="fa fa-arrow-left"></i> Back</button></a>
<div class="card" style="width: 25rem; margin:auto; margin-top:10px">
    <div class="card-body">
        <h4 class="card-title"><%= print1[0].fir_no %></h4>
           <div><strong>Type:         </strong><%= print1[0].fir_type %></div>
           <div><strong>Time:        </strong><%= print1[0].fir_time %></div>
           <div><strong>Date:     </strong><%= print1[0].fir_date %></div>
           <div><strong>Crime Time:     </strong><%= print1[0].fir_ct %></div>
           <div><strong>Crime Place:     </strong><%= print1[0].fir_cp %></div>
           <div><strong>Suspects:     </strong><%= print1[0].fir_suspect %></div>
           <div><strong>Registered By:     </strong><%= print1[0].fir_by %></div>
           <div><strong>Case Number:     </strong><%= print1[0].case_no %></div>
           <div><strong>Description:      </strong><%= print1[0].fir_desc %></div>
           <a class="btn btn-warning btn-sm mt-2 py-0.5 px-4" href="/fir/edit/<%= print1[0].fir_no%>">edit</a>
    </div>
</div>

</div>